@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body{
display: flex;
flex-direction: column;
align-items: center;
background-color: #10367C;
}

.main_block{
    padding: 51px 104px 0px 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/images/castelmezzano-1979546\ 1@2x.png);
    height: 900px;
    width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    width: 1232px;
    height: 46px;
    display: flex;   
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
}

nav > a{
    font-family: 'Roboto';
    color: #FFFF;
    font-size: 24px;
    font-weight: normal;
}

nav a:nth-of-type(2){
    margin-left: 24px;
}
nav img:nth-of-type(1) {
    margin-left:48px;
}

nav img:nth-of-type(2) {
    margin-left: 22px;
}

.main_block > div{
    margin-top: 204px;
    width: 1232px;
    height: 487px;
}

.main_block > div > h1{
    color:white;
    width: 550px;
    height: 118px;
    font-family: 'Roboto';
    font-weight:medium;
    font-size:50px;
}

.main_block > div > h1 > span{
    display:block;
    width: 75px;
}
.inputs > input:nth-of-type(1){
    width: 382px;
    height: 64px;
    border-radius: 8px;
}

.inputs > div:nth-of-type(1){
    width: 259px;
    height: 64px;
    border-radius: 8px;
    border: #F5BD41;
    background-color: #FFFF;
}

.inputs >div:nth-of-type(2){
    width: 314px;
    height: 64px;
    border-radius: 8px;
    background-color: #FFFF;
}

.inputs{
    margin-bottom: 600px;
    position: relative;
    gap: 0;
    display: flex;
    justify-content:baseline ;
    background-color: #FFFF;
    border-radius: 8px;
    justify-content:space-between;
}
.inputs > button {
    width: 192px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: #3077C6;
    color: #FFFF;
    font-size: 24px;
    font-family: 'Roboto';
}

.inputs > input:nth-of-type(1)::placeholder{
    color:#383838 ;
    size: 18px;
    font-family: 'Roboto';
}

.text{
    color: #FFFF;
    font-weight: 400;
    size: 18px;
    font-family: 'Roboto';
}

.inputs > span:nth-of-type(1){
    position: absolute;
    left: 10px;
    top: -40px;
    color: #FFFF;
    font-size: 18px;
}
.inputs > span:nth-of-type(2){
    position: absolute;
    left: 410px;
    top: -40px;
    color: #FFFF;
    font-family: 'Roboto';
    font-size: 18px;
 
}
.inputs > input:nth-of-type(1){
    padding: 24px;
    border: none;
}

.inputs > input:nth-of-type(1):focus{
    outline: none;
    border:3px solid#F5BD41;
}
.div123{
    display: flex;
    justify-content: center;
    align-items: center;
}

.google_play > img{
    margin-top: -700px;
    margin-left: 400px;
}

.google_play > img:nth-of-type(2){
    margin-left:16px ;
}

.main_2_div{
    background-color: #FFFF;
    width: 1648px;
    height: 569px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d2 > p{
    color: #383838;
    margin: 120px;
    margin-top: 20px;
    font-size: 40px;
    margin-left:650px;
    font-family: 'Roboto';
    font-weight: 500;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.hgl{
    width: 1648px;
    height: 828px;
    background-color: #EAF0F9;
}
.hgl > p{
    font-size: 40px;
    font-weight: 500;
    margin-top:120px;
    margin-left:650px;
    font-family: 'Roboto';
}
.hgl_img {
    margin-top: 150px;
    display: flex;
    justify-content:center;
    gap:16px;
}
.hgl_img >img:nth-of-type(5){
    width: 40px;
    height: 40px;
    margin-top: 128px;
    margin-left: -35px;
}

.main_dest{
    width: 1648px;
    height: 958px;
    background-color: #FFFF;
}

.dest{
    display: block;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto';
    margin-left: 650px;
    margin-top:120px;
}
.dest_b:nth-of-type(1){
    width: 192px;
    height: 64px;
    background-color: #3077C6;
    border-radius: 8px;
     font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dest_b:nth-of-type(2){
    width: 192px;
    height: 64px;
    background-color: #F3F3F4;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #383838;
     display: flex;
    justify-content: center;
    align-items: center;
}
.dest_b:nth-of-type(3){
    width: 238px;
    height: 64px;
    background-color:#F3F3F4;
    border-radius: 8px;
     font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #383838;
     display: flex;
    justify-content: center;
    align-items: center;
}
.flex_dest_b{
    display: flex;
    justify-content: center;
    margin-left: -718px;
    margin-top: 104px;
}
.dest_img{
    margin-top:64px;
    margin-left:-104px;
    gap:14px;
    display: flex;
    justify-content: center;
}
.dest_arrow{
    margin-top: 48px;
    margin-left: 800px;
}

.back_rek {
    background-color: #FFFF;
    width: 1648px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.rek {
    background-color: #EAF0F9;
    width: 1270px;
    height: 200px;                                                                                                                                                                                                                                                                                                                                                                                                                                            
}
.rek > img {
    margin-top: 57px;
    margin-left: 40px;
}
.rek > p {
    font-size: 24px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: -111px;
    font-family: 'Roboto';
}
.rek > button {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    border: 1px ;
    font-size: 18px;
    font-weight: 400;
    color:#3077C6;
    background-color: #FFFF;
    border-color: #3077C6;
    margin-left: 30px;
}
.rek > img:nth-of-type(2){
    margin-top: -55px;
    margin-left: 1211px;
}